DATABASE_URL="postgresql://loan:password@localhost:5432/ebuss?schema=public" 
JWT_SECRET="s9vB3x!qT8mZ#kP2dL7rW6uF1yH0aJ5e"
VALIDATE_TOKEN_URL=http://172.24.47.138:90/api/Authenticate/Validate
NIB_PAYMENT_URL=http://172.24.47.138:90/api/Authenticate/Payment
NIB_PAYMENT_KEY=dB7klqR9vT2bY8nZ4jL6mX3cF5hN3
NIB_ACCOUNT_NO=7000101633387
NIB_COMPANY_NAME=EBUSS
NEXT_PUBLIC_BASE_URL=https://nibterabustickets.nibbank.com.et