
# This file is for example only. Create a .env file and add your own values.

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/ezbus"

# Authentication
JWT_SECRET="YOUR_REALLY_SECRET_KEY_FOR_JWT_THAT_IS_AT_LEAST_32_CHARACTERS_LONG"

# NIB Mini-App Integration
# URL for validating the mini-app's authentication token
VALIDATE_TOKEN_URL="https://example.com/api/validate_token"
NEXT_PUBLIC_BASE_URL="http://localhost:9002"

# NIB Payment Gateway Details
NIB_PAYMENT_URL="https://example.com/api/initiate_payment"
NIB_PAYMENT_KEY="YOUR_PAYMENT_GATEWAY_API_KEY"
NIB_COMPANY_NAME="YOUR_COMPANY_NAME_HERE"

# SMTP Email Server Configuration (for sending emails)
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="your-email@example.com"
SMTP_PASS="your-email-password"
SMTP_FROM_EMAIL="noreply@example.com"
